VITE_SUPABASE_URL=https://yhgwbjvgazighzwkuvje.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InloZ3dianZnYXppZ2h6d2t1dmplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxMTg4ODMsImV4cCI6MjEwNDY5NDg4M30.NylUgBwDbg7oCHvrH9LuuRQeAh76htNqRGKDMP6mHx4
